<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <section class="container">
      <a class="navbar-brand" href="javascript:void(0)">Locus Test</a>
    </section>
  </nav>
</header>
<section class="pt-4 text-center">
<div class="container">
  <div class="row">
    <ng-container *ngIf="!dataList || dataList && dataList.length === 0">
      Loading...
    </ng-container>

    <ng-container *ngIf="dataList && dataList.length > 0">
      <app-search [users]="dataList"></app-search>
    </ng-container>
  </div>
</div>

</section>
